* {
    padding: 0;
    margin: 0;
}

.top {
    height: 50px;
    background-color: skyblue;
    display: block;
}

.main {
    display: flex;

}

#name {

}

img {
    height: 5px;
}

#location {

}

#occupation {

}

#settings {

}