*{
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: blueviolet;
    height: 60px;
    width: 850px;
    display: flex;
}

.navBarLeft {
    background-color: black;
    height: 60px;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-family: sans-serif;
    margin-left: 105px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 20;
}

p {
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

#highlighted {
    color: white;
}

.navBarRight {
    background-color: black;
    height: 60px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

button {
    display: block;
    height: 25px;
    width: 75px;
    margin-left: 5px;
    color: white;
    font-family:sans-serif;
    font-size: 14px;
    background-color: skyblue;
    border:none;

}

.main {
    background-color: chartreuse;
    height: 600px;
    width: 850px;
}

.userCard {
    background-color: coral;
    height: 250px;
    width: 350px;
    position: relative;
    left: 125px;
    top: 50px;
}

.useCardBanner {
    background-color: aqua;
    height: 85px;
}

.useCardMain {
    background-color: deeppink;
    height: 165px;
}

.educationCard {
    background-color: coral;
    height: 250px;
    width: 350px;
    position: relative;
    left: 125px;
    top: 100px;
}

.eduCardBanner {
    background-color: aqua;
    height: 50px;
}

.eduCardMain {
    background-color: deeppink;
    height: 200px;
}

.connectionRequestCard {
    background-color: coral;
    height: 150px;
    width: 175px;
    position: relative;
    right: -525px;
    bottom: 450px;
}

.conReqCardBanner {
    background-color: aqua;
    height: 50px;
}

.conReqCardMain {
    background-color: deeppink;
    height: 100px;
}

.connectionsCard {
    background-color: coral;
    height: 200px;
    width: 175px;
    position: relative;
    right: -525px;
    bottom: 400px;
}

.conCardBanner {
    background-color: aqua;
    height: 50px;
}

.conCardMain {
    background-color: deeppink;
    height: 115px;
}

.conCardLink {
    background-color: darksalmon;
    height: 35px;
}