*{
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: blueviolet;
    height: 60px;
    width: 850px;
    display: flex;
}

.navBarLeft {
    background-color: black;
    height: 60px;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-family: sans-serif;
    margin-left: 105px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 20;
}

p {
    color: lightgray;
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 500;
}

#highlighted {
    color: white;
}

.navBarRight {
    background-color: black;
    height: 60px;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

button {
    display: block;
    height: 25px;
    width: 75px;
    margin-left: 5px;
    color: white;
    font-family:sans-serif;
    font-size: 14px;
    background-color: skyblue;
    border:none;

}

.main {
    height: 600px;
    width: 850px;
}

.userCard {
    background-color: coral;
    height: 250px;
    width: 350px;
    position: relative;
    left: 125px;
    top: 50px;
}

.useCardBanner {
    background-color: aqua;
    height: 85px;
}

.useCardMain {
    background-color: deeppink;
    height: 165px;
}

h2 {
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-right: 10px;
}

.educationCard {
    background-color: coral;
    height: 250px;
    width: 350px;
    position: relative;
    left: 125px;
    top: 100px;
}

.eduCardBanner {
    background-color:dimgray;
    height: 50px;
    display: flex;
    align-items: center;
}

h4 {
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 30px;
}

.eduCardMain {
    background-color: white;
    height: 200px;
    border: 3px solid lightgray;
    border-top: none;
}

.connectionRequestCard {
    background-color: coral;
    height: 150px;
    width: 200px;
    position: relative;
    right: -525px;
    bottom: 450px;
}

.conReqCardBanner {
    background-color:dimgray;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#specialTwo {
    position: relative;
    left: 21px;
    bottom: 1px;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
}

.circle {
    margin-right: 7px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: lightgray;
}



.conReqCardMain {
    background-color: white;
    height: 100px;
    border: 3px solid lightgray;
    border-top: none;
}

.connectionsCard {
    background-color: coral;
    height: 200px;
    width: 200px;
    position: relative;
    right: -525px;
    bottom: 400px;
}

.conCardBanner {
    background-color: dimgray;
    height: 50px;
    display: flex;
    align-items: center;
}

#special500 {
    position: relative;
    left: 25px;
    bottom: 1px;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;

}

.oval {
    position:relative;
    right: 15px;
    height: 25px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgray;
}

h3 {
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.conCardMain {
    background-color: white;
    border: 3px solid lightgray;
    border-top: none;
    height: 115px;
}

.conCardLink {
    background-color: white;
    height: 35px;
    border: 3px solid lightgray;
    border-top: none;
}